@{
  Layout = "_Layout";
}

@using Sushi.Models
@model List<Sushi.Models.MenuItem>;


<h4>Add a new order</h4>



@using (Html.BeginForm())
{

  @foreach (MenuItem item in Model)
  {

    @* @Html.ActionLink($"{item.MenuItemName}", "Details", " ", new { id = item.MenuItemId }, new {@class="btn btn-light"})
      @Html.ActionLink($"{item.MenuItemPrice}", "Details", " ", new { id = item.MenuItemId }, new {@class="btn btn-light"}) *@
    <div class="input-group mb-3">
      @Html.Label(item.MenuItemName, item.MenuItemName, new{@class = "input-group-text"})
      @Html.Label(item.MenuItemPrice.ToString(), $"${item.MenuItemPrice.ToString()}", new{@class = "input-group-text"})
      @Html.TextBox(item.MenuItemId.ToString(), 0, new{@class = "form-control", @type = "number", @min = "0", @id =
  item.MenuItemId})
    </div>
  }



  <input type="submit" value="Submit" class="btn btn-light" />
}
<div class="hstack gap-3 pt-3 mt-3 border-top border-dark">
</div>