@{
  Layout = "_Layout";
}

@using Sushi.ViewModels

@model RegisterViewModel

<h2>Register a new user</h2>
<hr />

 <div class="infoBox">

@using (Html.BeginForm("Register", "Account", FormMethod.Post))
{
  @Html.LabelFor(user => user.Email)<br>
  @Html.TextBoxFor(user=> user.Email, new { required = "required" })<br>

  @Html.LabelFor(user=> user.Password)<br>
  @Html.PasswordFor(user=> user.Password, new { required = "required" })<br>

  @Html.LabelFor(user=> user.ConfirmPassword)<br>
  @Html.PasswordFor(user=> user.ConfirmPassword, new { required = "required" })<br>

  <input id = "btn2" type="submit" value="Register" />
}
 </div>