@{
  Layout = "_Layout";
}

@model Sushi.Models.MenuItem

<h2>Menu Item Details</h2>
<hr />
<ul>
  <li>@Html.DisplayNameFor(model => model.MenuItemName): @Html.DisplayFor(model => model.MenuItemName)</li>
</ul>


@Html.ActionLink("Back to list", "Index", new { })
@Html.ActionLink("Back to customer info", "Details", "Stylists", new { id = Model.CustomerId })
@Html.ActionLink("Edit menu item info", "Edit", new { id = Model.MenuItemId })
@Html.ActionLink("Delete menu item", "Delete", new { id = Model.MenuItemId })
