@{
  Layout = "_Layout";
}

@model Sushi.Models.Customer
@using Sushi.Models;

<h2>Admin Details</h2>

@Html.DisplayNameFor(model => model.CustomerName): @Html.DisplayFor(model => model.CustomerName)


@* @foreach (Customer customer in Model)
  {
  @Html.ActionLink($"{customer.CustomerName}", "Details", "Clients", new { id = customer.CustomerId })

  } *@


@Html.ActionLink("Edit admin", "Edit", new { id = Model.CustomerId })
@Html.ActionLink("Delete admin", "Delete", new { id = Model.CustomerId })
@Html.ActionLink("Back to list", "Index")
