@{
  Layout = "_Layout";
}

@model Sushi.Models.Customer

<h2>Edit</h2>

<h4>Edit this customer: @Html.DisplayFor(model => model.CustomerName)</h4>

@using (Html.BeginForm())
{

  @Html.HiddenFor(model => model.CustomerId)
  @Html.LabelFor(model => model.CustomerName, "Admin Name")
  @Html.EditorFor(model => model.CustomerName)


  <input type="submit" value="Save" />
}

@Html.ActionLink("Back to list", "Index")
