<nav class="main-nav">

  @Html.ActionLink("HOME", "Index", "Home", null, new { @class = "btnNav" })

  @Html.ActionLink("About Us", "AboutUs", "MenuItems", null, new { @class = "btnNav" })

  @Html.ActionLink("Menu", "Menu", "MenuItems", null, new { @class = "btnNav" })

  @Html.ActionLink("Order Online", "Create", "Orders",null, new { @class = "btnNav" })

  @Html.ActionLink("Orders History", "Index", "Orders", null, new { @class = "btnNav" })

  @Html.ActionLink("Account", "Index", "Account", null, new { @class = "btnNav" })

  @Html.ActionLink("Developers Team", "Dev", "Home", null, new { @class = "btnNav" })

</nav>
